@import './variables';

.form {
    display: flex;
    align-items: center;
}

.textarea {
    width: 100%;
    height: 1.1em;
    padding: 0.5em 0.5em;
    border-radius: 5px 0 0 5px;
}

.submit-btn {
    padding: 0.5em;
    background-color: $highlight;
    color: $primary;
    border: 1px solid $highlight;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}